.sconsign.dblite
.vscode
compile_commands.json
*.o
*.d
log.txt
build
.build
release
.package
package
.cache
libs.log
node_modules
package-lock.json
dist
installers
todo.txt
*.pdb
index
lib/*
!lib/.gitkeep
programs
.DS_Store
external/webview2_sdk
external/webview2_runtimes
external/webview2_bootstraps
cli/node_modules
cli/build
cli/pkg
cli/.package
cli/release
cli/package
