.sconsign.dblite
compile_commands.json
*.o
*.d
build
.build
.cache
libs.log
node_modules
package-lock.json
dist
installers
todo.txt
*.pdb
index
lib/*
!lib/.gitkeep
programs
.DS_Store
external/webview2_sdk