name: MacOS

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: macos-latest

    steps:
    - name: checkout
      uses: actions/checkout@v4
      with:
        submodules: recursive

    - name: Install system dependencies
      run: |
        brew install pkg-config gtk+3 webkitgtk

    - name: Build Boost from submodule
      run: |
        cd external/boost
        ./bootstrap.sh
        ./b2 --with-program_options --with-json link=static runtime-link=shared threading=multi variant=release address-model=64 stage
        mkdir -p ../../lib
        cp stage/lib/*.a ../../lib/

    - name: make
      run: make
