name: Ubuntu

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: checkout
      uses: actions/checkout@v4
      with:
        submodules: recursive

    - name: install dependencies
      run: |
          sudo apt-get update
          sudo apt-get install -y \
            build-essential \
            libgtk-3-dev \
            libwebkit2gtk-4.1-dev \
            libgtk-3-0 \
            libwebkit2gtk-4.1-0 \
            pkg-config

    - name: Build Boost 1.90.0 from submodule
      run: |
        cd external/boost
        ./bootstrap.sh --prefix=/usr/local --with-libraries=program_options,json,system
        sudo ./b2 install --prefix=/usr/local link=static runtime-link=shared threading=multi variant=release -j$(nproc)

    - name: make
      run: make
